body{
  font-family:Helvetica, Arial, sans-serif;
  padding-right: 0;
  background-color: #4FC3F7;
  
}

.register{
  background-color: rgba(255, 255, 255, 0.85);
  font-family: helvetica;
  border-radius: 5px;
  height: 640px;
  margin-bottom: 15px;
  margin-top: 75px;
}

.regist{
    background-image:url('http://localhost/Project-Work/assets/img/pexels-photo-280310.jpg');
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.step{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 23px 0px;
}

.img-step{
  max-width: 120px;
  height: auto;
  padding-top: 17px;
}

.arrow{
  width: 785px;
  height: 40px;
  padding-top: 3px;
  padding-bottom: 9px;
}

.jumbotron {
  margin-top: 75px;
  margin-bottom: 16px;
  padding-top: 5px;
  padding-bottom: 14px;
  background-color: rgba(255, 255, 255, 0.85);
}

.text{
  padding: 0;
}

.text > p{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.icon {
  font-size: 45px;
  background-color: #29B6F6;
  text-align: center;
  padding: 15px;
  border-radius: 25px;
  color: white;
}

  

.header{
  border-bottom: 2px solid #757575;
}